<div class="container margin-top">
  <h1>All Shortlinks</h1>

  <%= link_to 'New shortlink', new_shortlink_path, :class=>"btn btn-primary margin-bot" %><br>
  <table class="table table-responsive table-hover">
    <tr>
      <th>Short URL</th>
      <th>Original URL</th>
      <th># Clicks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @shortlinks.each do |shortlink| %>
      <tr>
        <td><%= shortlink.short_url %></td>
        <td><a href="<%= shortlink.long_url %>"><%= shortlink.long_url %></a></td>
        <td><%= shortlink.clicks %></td>
        <td><%= link_to 'Show', shortlink_path(shortlink) %></td>
        <td><%= link_to 'Edit', edit_shortlink_path(shortlink) %></td>
        <td><%= link_to 'Delete', shortlink_path(shortlink),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<div>
