<div class="container">
  <p>
    <strong>Short URL:</strong>
    <%= @shortlink.short_url %>
  </p>

  <p>
    <strong>Long URL:</strong>
    <%= @shortlink.long_url %>
  </p>

  <p>
    <strong># of clicks:</strong>
    <%= @shortlink.clicks %>
  </p>

  <%= link_to 'â† Back', shortlinks_path %> |
  <%= link_to 'Edit', edit_shortlink_path(@shortlink) %>

</div>
